recursive-include spambayes/resources *.html *.psp *.gif
recursive-include src *.c
recursive-include spambayes *.py *.txt
recursive-include pspam *.py *.txt *.ini *.sh
recursive-include contrib *.py *.sh *.txt *.el *rc
recursive-include Outlook2000 *.py *.txt *.ini *.html *.bmp *.rc *.h *.jpg
recursive-include utilities *.py
recursive-include scripts *.py *.txt
recursive-include testtools *.py *.txt *.sh
recursive-include windows *.py *.txt *.h *.rc *.ico *.html *.iss
recursive-include spambayes/languages *.py *.html *.rc
include *.txt *.py MANIFEST.in *.sh
