recursive-include spambayes/resources *.html *.psp *.gif
recursive-include spambayes *.py
recursive-include pspam *.py *.txt *.ini *.sh
recursive-include contrib *.py *.sh *.txt *.el *rc
recursive-include Outlook2000 *.py *.txt *.ini *.html *.bmp *.rc *.h
recursive-include utilities *.py *.txt
recursive-include scripts *.py *.txt
recursive-include testtools *.py *.txt
recursive-include windows *.py *.txt *.h *.rc *.ico
include *.txt *.py

